<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <p>Ahoy!  You have received a message from the site's contact form.  It's from <%= "#{@name}, #{@email}."%></p>
    <p> <%= @body %> </p>
  </body>
</html>